<%- include('./partials/header'); %> 

<div class="container">
    <div class="col-md-12">
        <h2 class="form-title">Please Sign Up</h2>
        <div class="row">
                <div class="custom-form">
                    <form action="/register" method="post">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" name="username" placeholder="Username" size="30" maxlength="30">
                        </div>
                        <div class="form-group">
                            <input class="form-control text-center" type="password" name="password" placeholder="Password" size="30" maxlength="30">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-success btn-block">Sign Up</button>
                        </div>
                    </form>
                    <a title="Go Back" href="/campgrounds"><i class="back-icon"><img src="https://img.icons8.com/color/48/000000/back--v1.png"/></i>Back</a>
                </div>
        </div>
    </div>
</div>

<%- include('./partials/footer'); %> 